In [80]:
# Importing libraries

import pandas as pd
import numpy as np
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re

In [83]:
# Creating a function to get data in HTML format from website.

def getHTML(url):
    htmlcontent = urlopen(url)
    beautify = BeautifulSoup(htmlcontent, 'html.parser')
    return beautify

In [84]:
# Using a function 'getHTML' to get data from Wikipedia

uscities = getHTML('https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population')

In [85]:
#Get the whole table as well as links for the each city page.

links_table = uscities.find('table', {'class': 'wikitable sortable'})
rows = links_table.find_all('tr')

for i in range(1, len(rows)):
    tds = rows[i].find_all('td')    
    if len(tds) != 0:
        city_link = tds[1].find('a')
        city_info = [td.text.replace('\n', '').replace('\xa0', '').replace('\ufeff', '') for td in tds]
        #print(city_link.get('href'))
        print(city_info)

['1', 'New York City[d]', 'New York', '8,398,748', '8,175,133', '+2.74%', '301.5sqmi', '780.9km2', '28,317/sqmi', '10,933/km2', '40°39′49″N 73°56′19″W / 40.6635°N 73.9387°W / 40.6635; -73.9387 (1 New York City)']
['2', 'Los Angeles', 'California', '3,990,456', '3,792,621', '+5.22%', '468.7sqmi', '1,213.9km2', '8,484/sqmi', '3,276/km2', '34°01′10″N 118°24′39″W / 34.0194°N 118.4108°W / 34.0194; -118.4108 (2 Los Angeles)']
['3', 'Chicago', 'Illinois', '2,705,994', '2,695,598', '+0.39%', '227.3sqmi', '588.7km2', '11,900/sqmi', '4,600/km2', '41°50′15″N 87°40′54″W / 41.8376°N 87.6818°W / 41.8376; -87.6818 (3 Chicago)']
['4', 'Houston[3]', 'Texas', '2,325,502', '2,100,263', '+10.72%', '637.5sqmi', '1,651.1km2', '3,613/sqmi', '1,395/km2', '29°47′12″N 95°23′27″W / 29.7866°N 95.3909°W / 29.7866; -95.3909 (4 Houston)']
['5', 'Phoenix', 'Arizona', '1,660,272', '1,445,632', '+14.85%', '517.6sqmi', '1,340.6km2', '3,120/sqmi', '1,200/km2', '33°34′20″N 112°05′24″W / 33.5722°N 112.0901°W / 33.5722; -112.0901 (6 Phoenix)']
['6', 'Philadelphia[e]', 'Pennsylvania', '1,584,138', '1,526,006', '+3.81%', '134.2sqmi', '347.6km2', '11,683/sqmi', '4,511/km2', '40°00′34″N 75°08′00″W / 40.0094°N 75.1333°W / 40.0094; -75.1333 (5 Philadelphia)']
['7', 'San Antonio', 'Texas', '1,532,233', '1,327,407', '+15.43%', '461.0sqmi', '1,194.0km2', '3,238/sqmi', '1,250/km2', '29°28′21″N 98°31′30″W / 29.4724°N 98.5251°W / 29.4724; -98.5251 (7 San Antonio)']
['8', 'San Diego', 'California', '1,425,976', '1,307,402', '+9.07%', '325.2sqmi', '842.3km2', '4,325/sqmi', '1,670/km2', '32°48′55″N 117°08′06″W / 32.8153°N 117.1350°W / 32.8153; -117.1350 (8 San Diego)']
['9', 'Dallas', 'Texas', '1,345,047', '1,197,816', '+12.29%', '340.9sqmi', '882.9km2', '3,866/sqmi', '1,493/km2', '32°47′36″N 96°45′59″W / 32.7933°N 96.7665°W / 32.7933; -96.7665 (9 Dallas)']
['10', 'San Jose', 'California', '1,030,119', '945,942', '+8.90%', '177.5sqmi', '459.7km2', '5,777/sqmi', '2,231/km2', '37°17′48″N 121°49′08″W / 37.2967°N 121.8189°W / 37.2967; -121.8189 (10 San Jose)']
['11', 'Austin', 'Texas', '964,254', '790,390', '+22.00%', '312.7sqmi', '809.9km2', '3,031/sqmi', '1,170/km2', '30°18′14″N 97°45′16″W / 30.3039°N 97.7544°W / 30.3039; -97.7544 (11 Austin)']
['12', 'Jacksonville[f]', 'Florida', '903,889', '821,784', '+9.99%', '747.4sqmi', '1,935.8km2', '1,178/sqmi', '455/km2', '30°20′13″N 81°39′42″W / 30.3369°N 81.6616°W / 30.3369; -81.6616 (12 Jacksonville)']
['13', 'Fort Worth', 'Texas', '895,008', '741,206', '+20.75%', '342.9sqmi', '888.1km2', '2,491/sqmi', '962/km2', '32°46′53″N 97°20′48″W / 32.7815°N 97.3467°W / 32.7815; -97.3467 (16 Fort Worth)']
['14', 'Columbus', 'Ohio', '892,533', '787,033', '+13.40%', '218.5sqmi', '565.9km2', '3,936/sqmi', '1,520/km2', '39°59′07″N 82°59′05″W / 39.9852°N 82.9848°W / 39.9852; -82.9848 (15 Columbus)']
['15', 'San Francisco[g]', 'California', '883,305', '805,235', '+9.70%', '46.9sqmi', '121.5km2', '18,569/sqmi', '7,170/km2', '37°43′38″N 123°01′56″W / 37.7272°N 123.0322°W / 37.7272; -123.0322 (13 San Francisco)']
['16', 'Charlotte', 'North Carolina', '872,498', '731,424', '+19.29%', '305.4sqmi', '791.0km2', '2,757/sqmi', '1,064/km2', '35°12′28″N 80°49′52″W / 35.2078°N 80.8310°W / 35.2078; -80.8310 (17 Charlotte)']
['17', 'Indianapolis[h]', 'Indiana', '867,125', '820,445', '+5.69%', '361.5sqmi', '936.3km2', '2,366/sqmi', '914/km2', '39°46′36″N 86°08′45″W / 39.7767°N 86.1459°W / 39.7767; -86.1459 (14 Indianapolis)']
['18', 'Seattle', 'Washington', '744,955', '608,660', '+22.39%', '83.8sqmi', '217.0km2', '8,405/sqmi', '3,245/km2', '47°37′14″N 122°21′03″W / 47.6205°N 122.3509°W / 47.6205; -122.3509 (20 Seattle)']
['19', 'Denver[i]', 'Colorado', '716,492', '600,158', '+19.38%', '153.3sqmi', '397.0km2', '4,521/sqmi', '1,746/km2', '39°45′43″N 104°52′52″W / 39.7619°N 104.8811°W / 39.7619; -104.8811 (Denver)']
['20', 'Washington, D.C.[j]', 'District of Columbia', '702,455', '601,723', '+16.74%', '61.1sqmi', '158.2km2', '11,148/sqmi', '4,304/km2', '38°54′15″N 77°01′02″W / 38.9041°N 77.0172°W / 38.9041; -77.0172 (Washington, D.C.)']
['21', 'Boston', 'Massachusetts', '694,583', '617,594', '+12.47%', '48.3sqmi', '125.1km2', '13,938/sqmi', '5,381/km2', '42°19′55″N 71°01′13″W / 42.3320°N 71.0202°W / 42.3320; -71.0202 (Boston)']
['22', 'El Paso', 'Texas', '682,669', '649,121', '+5.17%', '256.8sqmi', '665.1km2', '2,660/sqmi', '1,030/km2', '31°50′54″N 106°25′37″W / 31.8484°N 106.4270°W / 31.8484; -106.4270 (19 El Paso)']
['23', 'Detroit', 'Michigan', '672,662', '713,777', '−5.76%', '138.8sqmi', '359.5km2', '4,847/sqmi', '1,871/km2', '42°22′59″N 83°06′08″W / 42.3830°N 83.1022°W / 42.3830; -83.1022 (18 Detroit)']
['24', 'Nashville[k]', 'Tennessee', '669,053', '601,222', '+11.28%', '475.9sqmi', '1,232.6km2', '1,388/sqmi', '536/km2', '36°10′18″N 86°47′06″W / 36.1718°N 86.7850°W / 36.1718; -86.7850 (Nashville)']
['25', 'Portland', 'Oregon', '653,115', '583,776', '+11.88%', '133.5sqmi', '345.8km2', '4,793/sqmi', '1,851/km2', '45°32′13″N 122°39′00″W / 45.5370°N 122.6500°W / 45.5370; -122.6500 (Portland)']
['26', 'Memphis', 'Tennessee', '650,618', '646,889', '+0.58%', '317.4sqmi', '822.1km2', '2,056/sqmi', '794/km2', '35°06′10″N 89°58′39″W / 35.1028°N 89.9774°W / 35.1028; -89.9774 (Memphis)']
['27', 'Oklahoma City', 'Oklahoma', '649,021', '579,999', '+11.90%', '606.3sqmi', '1,570.3km2', '1,053/sqmi', '407/km2', '35°28′02″N 97°30′49″W / 35.4671°N 97.5137°W / 35.4671; -97.5137 (Oklahoma City)']
['28', 'Las Vegas', 'Nevada', '644,644', '583,756', '+10.43%', '134.4sqmi', '348.1km2', '4,709/sqmi', '1,818/km2', '36°13′45″N 115°15′36″W / 36.2292°N 115.2601°W / 36.2292; -115.2601 (Las Vegas)']
['29', 'Louisville[l]', 'Kentucky', '620,118', '597,337', '+3.81%', '263.5sqmi', '682.5km2', '2,339/sqmi', '903/km2', '38°09′55″N 85°38′51″W / 38.1654°N 85.6474°W / 38.1654; -85.6474 (Louisville)']
['30', 'Baltimore[m]', 'Maryland', '602,495', '620,961', '−2.97%', '80.9sqmi', '209.5km2', '7,598/sqmi', '2,934/km2', '39°18′00″N 76°36′38″W / 39.3000°N 76.6105°W / 39.3000; -76.6105 (Baltimore)']
['31', 'Milwaukee', 'Wisconsin', '592,025', '594,833', '−0.47%', '96.2sqmi', '249.2km2', '6,186/sqmi', '2,388/km2', '43°03′48″N 87°58′00″W / 43.0633°N 87.9667°W / 43.0633; -87.9667 (Milwaukee)']
['32', 'Albuquerque', 'New Mexico', '560,218', '545,852', '+2.63%', '188.2sqmi', '487.4km2', '2,972/sqmi', '1,147/km2', '35°06′20″N 106°38′51″W / 35.1056°N 106.6474°W / 35.1056; -106.6474 (Albuquerque)']
['33', 'Tucson', 'Arizona', '545,975', '520,116', '+4.97%', '230.8sqmi', '597.8km2', '2,299/sqmi', '888/km2', '32°09′11″N 110°52′14″W / 32.1531°N 110.8706°W / 32.1531; -110.8706 (Tucson)']
['34', 'Fresno', 'California', '530,093', '494,665', '+7.16%', '114.4sqmi', '296.3km2', '4,563/sqmi', '1,762/km2', '36°47′01″N 119°47′36″W / 36.7836°N 119.7934°W / 36.7836; -119.7934 (Fresno)']
['35', 'Mesa', 'Arizona', '508,958', '439,041', '+15.92%', '137.9sqmi', '357.2km2', '3,514/sqmi', '1,357/km2', '33°24′07″N 111°43′03″W / 33.4019°N 111.7174°W / 33.4019; -111.7174 (Mesa)']
['36', 'Sacramento', 'California', '508,529', '466,488', '+9.01%', '97.9sqmi', '253.6km2', '5,059/sqmi', '1,953/km2', '38°34′00″N 121°28′07″W / 38.5666°N 121.4686°W / 38.5666; -121.4686 (Sacramento)']
['37', 'Atlanta', 'Georgia', '498,044', '420,003', '+18.58%', '133.5sqmi', '345.8km2', '3,539/sqmi', '1,366/km2', '33°45′46″N 84°25′22″W / 33.7629°N 84.4227°W / 33.7629; -84.4227 (Atlanta)']
['38', 'Kansas City', 'Missouri', '491,918', '459,787', '+6.99%', '315.0sqmi', '815.8km2', '1,528/sqmi', '590/km2', '39°07′30″N 94°33′04″W / 39.1251°N 94.5510°W / 39.1251; -94.5510 (Kansas City, MO)']
['39', 'Colorado Springs', 'Colorado', '472,688', '416,427', '+13.51%', '195.6sqmi', '506.6km2', '2,378/sqmi', '918/km2', '38°52′02″N 104°45′39″W / 38.8673°N 104.7607°W / 38.8673; -104.7607 (Colorado Springs)']
['40', 'Miami', 'Florida', '470,914', '399,457', '+17.89%', '36.0sqmi', '93.2km2', '12,599/sqmi', '4,865/km2', '25°46′31″N 80°12′31″W / 25.7752°N 80.2086°W / 25.7752; -80.2086 (Miami)']
['41', 'Raleigh', 'North Carolina', '469,298', '403,892', '+16.19%', '145.1sqmi', '375.8km2', '3,163/sqmi', '1,221/km2', '35°49′50″N 78°38′30″W / 35.8306°N 78.6418°W / 35.8306; -78.6418 (Raleigh)']
['42', 'Omaha', 'Nebraska', '468,262', '408,958', '+14.50%', '133.2sqmi', '345.0km2', '3,356/sqmi', '1,296/km2', '41°15′52″N 96°02′42″W / 41.2644°N 96.0451°W / 41.2644; -96.0451 (Omaha)']
['43', 'Long Beach', 'California', '467,354', '462,257', '+1.10%', '50.3sqmi', '130.3km2', '9,347/sqmi', '3,609/km2', '33°48′33″N 118°09′19″W / 33.8092°N 118.1553°W / 33.8092; -118.1553 (Long Beach)']
['44', 'Virginia Beach[m]', 'Virginia', '450,189', '437,994', '+2.78%', '244.7sqmi', '633.8km2', '1,850/sqmi', '710/km2', '36°46′48″N 76°01′31″W / 36.7800°N 76.0252°W / 36.7800; -76.0252 (Virginia Beach)']
['45', 'Oakland', 'California', '429,082', '390,724', '+9.82%', '55.9sqmi', '144.8km2', '7,514/sqmi', '2,901/km2', '37°46′11″N 122°13′33″W / 37.7698°N 122.2257°W / 37.7698; -122.2257 (Oakland)']
['46', 'Minneapolis', 'Minnesota', '425,403', '382,578', '+11.19%', '54.0sqmi', '139.9km2', '7,660/sqmi', '2,960/km2', '44°57′48″N 93°16′06″W / 44.9633°N 93.2683°W / 44.9633; -93.2683 (Minneapolis)']
['47', 'Tulsa', 'Oklahoma', '400,669', '391,906', '+2.24%', '196.8sqmi', '509.7km2', '2,048/sqmi', '791/km2', '36°07′40″N 95°54′08″W / 36.1279°N 95.9023°W / 36.1279; -95.9023 (Tulsa)']
['48', 'Arlington', 'Texas', '398,112', '365,438', '+8.94%', '95.8sqmi', '248.1km2', '4,100/sqmi', '1,600/km2', '32°42′03″N 97°07′29″W / 32.7007°N 97.1247°W / 32.7007; -97.1247 (Arlington)']
['49', 'Tampa', 'Florida', '392,890', '335,709', '+17.03%', '113.4sqmi', '293.7km2', '3,326/sqmi', '1,284/km2', '27°58′12″N 82°28′47″W / 27.9701°N 82.4797°W / 27.9701; -82.4797 (Tampa)']
['50', 'New Orleans[n]', 'Louisiana', '391,006', '343,829', '+13.72%', '169.4sqmi', '438.7km2', '2,311/sqmi', '892/km2', '30°03′12″N 89°56′04″W / 30.0534°N 89.9345°W / 30.0534; -89.9345 (New Orleans)']
['51', 'Wichita', 'Kansas', '389,255', '382,368', '+1.80%', '160.4sqmi', '415.4km2', '2,431/sqmi', '939/km2', '37°41′27″N 97°20′45″W / 37.6907°N 97.3459°W / 37.6907; -97.3459 (Wichita)']
['52', 'Cleveland', 'Ohio', '383,793', '396,815', '−3.28%', '77.7sqmi', '201.2km2', '4,965/sqmi', '1,917/km2', '41°28′43″N 81°40′46″W / 41.4785°N 81.6794°W / 41.4785; -81.6794 (Cleveland)']
['53', 'Bakersfield', 'California', '383,579', '347,483', '+10.39%', '148.8sqmi', '385.4km2', '2,529/sqmi', '976/km2', '35°19′16″N 119°01′06″W / 35.3212°N 119.0183°W / 35.3212; -119.0183 (Bakersfield)']
['54', 'Aurora', 'Colorado', '374,114', '325,078', '+15.08%', '153.5sqmi', '397.6km2', '2,356/sqmi', '910/km2', '39°41′17″N 104°41′23″W / 39.6880°N 104.6897°W / 39.6880; -104.6897 (Aurora)']
['55', 'Anaheim', 'California', '352,005', '336,265', '+4.68%', '50.0sqmi', '129.5km2', '7,021/sqmi', '2,711/km2', '33°51′20″N 117°45′36″W / 33.8555°N 117.7601°W / 33.8555; -117.7601 (Anaheim)']
['56', 'Honolulu[b]', 'Hawaii', '347,397', '337,256', '+3.01%', '60.5sqmi', '156.7km2', '5,815/sqmi', '2,245/km2', '21°19′27″N 157°50′51″W / 21.3243°N 157.8476°W / 21.3243; -157.8476 (Honolulu)']
['57', 'Santa Ana', 'California', '332,725', '324,528', '+2.53%', '27.1sqmi', '70.2km2', '12,333/sqmi', '4,762/km2', '33°44′11″N 117°52′59″W / 33.7363°N 117.8830°W / 33.7363; -117.8830 (Santa Ana)']
['58', 'Riverside', 'California', '330,063', '303,871', '+8.62%', '81.2sqmi', '210.3km2', '3,999/sqmi', '1,544/km2', '33°56′17″N 117°23′36″W / 33.9381°N 117.3932°W / 33.9381; -117.3932 (Riverside)']
['59', 'Corpus Christi', 'Texas', '326,554', '305,215', '+6.99%', '174.6sqmi', '452.2km2', '1,866/sqmi', '720/km2', '27°45′15″N 97°10′24″W / 27.7543°N 97.1734°W / 27.7543; -97.1734 (Corpus Christi)']
['60', 'Lexington[o]', 'Kentucky', '323,780', '295,803', '+9.46%', '283.6sqmi', '734.5km2', '1,123/sqmi', '434/km2', '38°02′27″N 84°27′30″W / 38.0407°N 84.4583°W / 38.0407; -84.4583 (Lexington)']
['61', 'Stockton', 'California', '311,178', '291,707', '+6.67%', '61.7sqmi', '159.8km2', '4,977/sqmi', '1,922/km2', '37°58′35″N 121°18′48″W / 37.9763°N 121.3133°W / 37.9763; -121.3133 (Stockton)']
['62', 'Henderson', 'Nevada', '310,390', '257,729', '+20.43%', '104.7sqmi', '271.2km2', '2,798/sqmi', '1,080/km2', '36°00′35″N 115°02′09″W / 36.0097°N 115.0357°W / 36.0097; -115.0357 (Henderson)']
['63', 'Saint Paul', 'Minnesota', '307,695', '285,068', '+7.94%', '52.0sqmi', '134.7km2', '5,815/sqmi', '2,245/km2', '44°56′56″N 93°06′15″W / 44.9489°N 93.1041°W / 44.9489; -93.1041 (Saint Paul)']
['64', 'St. Louis[m]', 'Missouri', '302,838', '319,294', '−5.15%', '62.0sqmi', '160.6km2', '5,023/sqmi', '1,939/km2', '38°38′09″N 90°14′41″W / 38.6357°N 90.2446°W / 38.6357; -90.2446 (St. Louis)']
['65', 'Cincinnati', 'Ohio', '302,605', '296,943', '+1.91%', '77.4sqmi', '200.5km2', '3,860/sqmi', '1,490/km2', '39°08′25″N 84°30′21″W / 39.1402°N 84.5058°W / 39.1402; -84.5058 (Cincinnati)']
['66', 'Pittsburgh', 'Pennsylvania', '301,048', '305,704', '−1.52%', '55.4sqmi', '143.5km2', '5,481/sqmi', '2,116/km2', '40°26′23″N 79°58′36″W / 40.4398°N 79.9766°W / 40.4398; -79.9766 (Pittsburgh)']
['67', 'Greensboro', 'North Carolina', '294,722', '269,666', '+9.29%', '128.3sqmi', '332.3km2', '2,237/sqmi', '864/km2', '36°05′42″N 79°49′37″W / 36.0951°N 79.8270°W / 36.0951; -79.8270 (Greensboro)']
['68', 'Anchorage[p]', 'Alaska', '291,538', '291,826', '−0.10%', '1,706.6sqmi', '4,420.1km2', '175/sqmi', '68/km2', '61°10′27″N 149°17′03″W / 61.1743°N 149.2843°W / 61.1743; -149.2843 (Anchorage)']
['69', 'Plano', 'Texas', '288,061', '259,841', '+10.86%', '71.7sqmi', '185.7km2', '3,990/sqmi', '1,540/km2', '33°03′03″N 96°44′52″W / 33.0508°N 96.7479°W / 33.0508; -96.7479 (Plano)']
['70', 'Lincoln', 'Nebraska', '287,401', '258,379', '+11.23%', '92.1sqmi', '238.5km2', '3,044/sqmi', '1,175/km2', '40°48′38″N 96°40′49″W / 40.8105°N 96.6803°W / 40.8105; -96.6803 (Lincoln)']
['71', 'Orlando', 'Florida', '285,713', '238,300', '+19.90%', '105.2sqmi', '272.5km2', '2,635/sqmi', '1,017/km2', '28°25′00″N 81°16′25″W / 28.4166°N 81.2736°W / 28.4166; -81.2736 (Orlando)']
['72', 'Irvine', 'California', '282,572', '212,375', '+33.05%', '65.6sqmi', '169.9km2', '4,057/sqmi', '1,566/km2', '33°40′42″N 117°46′17″W / 33.6784°N 117.7713°W / 33.6784; -117.7713 (Irvine)']
['73', 'Newark', 'New Jersey', '282,090', '277,140', '+1.79%', '24.1sqmi', '62.4km2', '11,691/sqmi', '4,514/km2', '40°43′27″N 74°10′21″W / 40.7242°N 74.1726°W / 40.7242; -74.1726 (Newark)']
['74', 'Toledo', 'Ohio', '274,975', '287,208', '−4.26%', '80.7sqmi', '209.0km2', '3,451/sqmi', '1,332/km2', '41°39′51″N 83°34′55″W / 41.6641°N 83.5819°W / 41.6641; -83.5819 (Toledo)']
['75', 'Durham', 'North Carolina', '274,291', '228,330', '+20.13%', '109.8sqmi', '284.4km2', '2,395/sqmi', '925/km2', '35°58′52″N 78°54′10″W / 35.9811°N 78.9029°W / 35.9811; -78.9029 (Durham)']
['76', 'Chula Vista', 'California', '271,651', '243,916', '+11.37%', '49.6sqmi', '128.5km2', '5,387/sqmi', '2,080/km2', '32°37′40″N 117°00′55″W / 32.6277°N 117.0152°W / 32.6277; -117.0152 (Chula Vista)']
['77', 'Fort Wayne', 'Indiana', '267,633', '253,691', '+5.50%', '110.6sqmi', '286.5km2', '2,391/sqmi', '923/km2', '41°05′18″N 85°08′38″W / 41.0882°N 85.1439°W / 41.0882; -85.1439 (Fort Wayne)']
['78', 'Jersey City', 'New Jersey', '265,549', '247,597', '+7.25%', '14.8sqmi', '38.3km2', '17,848/sqmi', '6,891/km2', '40°42′41″N 74°03′53″W / 40.7114°N 74.0648°W / 40.7114; -74.0648 (Jersey City)']
['79', 'St. Petersburg', 'Florida', '265,098', '244,769', '+8.31%', '61.8sqmi', '160.1km2', '4,223/sqmi', '1,631/km2', '27°45′43″N 82°38′39″W / 27.7620°N 82.6441°W / 27.7620; -82.6441 (St. Petersburg)']
['80', 'Laredo', 'Texas', '261,639', '236,091', '+10.82%', '101.1sqmi', '261.8km2', '2,544/sqmi', '982/km2', '27°33′37″N 99°29′21″W / 27.5604°N 99.4892°W / 27.5604; -99.4892 (Laredo)']
['81', 'Madison', 'Wisconsin', '258,054', '233,209', '+10.65%', '77.0sqmi', '199.4km2', '3,280/sqmi', '1,270/km2', '43°05′16″N 89°25′48″W / 43.0878°N 89.4299°W / 43.0878; -89.4299 (Madison)']
['82', 'Chandler', 'Arizona', '257,165', '236,123', '+8.91%', '64.9sqmi', '168.1km2', '3,813/sqmi', '1,472/km2', '33°16′58″N 111°51′18″W / 33.2829°N 111.8549°W / 33.2829; -111.8549 (Chandler)']
['83', 'Buffalo', 'New York', '256,304', '261,310', '−1.92%', '40.4sqmi', '104.6km2', '6,359/sqmi', '2,455/km2', '42°53′33″N 78°51′35″W / 42.8925°N 78.8597°W / 42.8925; -78.8597 (Buffalo)']
['84', 'Lubbock', 'Texas', '255,885', '229,573', '+11.46%', '124.6sqmi', '322.7km2', '2,027/sqmi', '783/km2', '33°33′56″N 101°53′12″W / 33.5656°N 101.8867°W / 33.5656; -101.8867 (Lubbock)']
['85', 'Scottsdale', 'Arizona', '255,310', '217,385', '+17.45%', '183.9sqmi', '476.3km2', '1,341/sqmi', '518/km2', '33°41′03″N 111°51′40″W / 33.6843°N 111.8611°W / 33.6843; -111.8611 (Scottsdale)']
['86', 'Reno', 'Nevada', '250,998', '225,221', '+11.45%', '107.3sqmi', '277.9km2', '2,286/sqmi', '883/km2', '39°32′57″N 119°51′00″W / 39.5491°N 119.8499°W / 39.5491; -119.8499 (Reno)']
['87', 'Glendale', 'Arizona', '250,702', '226,721', '+10.58%', '59.1sqmi', '153.1km2', '4,161/sqmi', '1,607/km2', '33°31′59″N 112°11′24″W / 33.5331°N 112.1899°W / 33.5331; -112.1899 (Glendale)']
['88', 'Gilbert[q]', 'Arizona', '248,279', '208,453', '+19.11%', '68.0sqmi', '176.1km2', '3,487/sqmi', '1,346/km2', '33°18′37″N 111°44′35″W / 33.3103°N 111.7431°W / 33.3103; -111.7431 (Gilbert)']
['89', 'Winston–Salem', 'North Carolina', '246,328', '229,617', '+7.28%', '132.5sqmi', '343.2km2', '1,828/sqmi', '706/km2', '36°06′10″N 80°15′40″W / 36.1027°N 80.2610°W / 36.1027; -80.2610 (Winston-Salem)']
['90', 'North Las Vegas', 'Nevada', '245,949', '216,961', '+13.36%', '98.0sqmi', '253.8km2', '2,436/sqmi', '941/km2', '36°17′09″N 115°05′38″W / 36.2857°N 115.0939°W / 36.2857; -115.0939 (North Las Vegas)']
['91', 'Norfolk[m]', 'Virginia', '244,076', '242,803', '+0.52%', '53.3sqmi', '138.0km2', '4,599/sqmi', '1,776/km2', '36°55′23″N 76°14′41″W / 36.9230°N 76.2446°W / 36.9230; -76.2446 (Norfolk)']
['92', 'Chesapeake[m]', 'Virginia', '242,634', '222,209', '+9.19%', '338.5sqmi', '876.7km2', '703/sqmi', '271/km2', '36°40′46″N 76°18′06″W / 36.6794°N 76.3018°W / 36.6794; -76.3018 (Chesapeake)']
['93', 'Garland', 'Texas', '242,507', '226,876', '+6.89%', '57.0sqmi', '147.6km2', '4,122/sqmi', '1,592/km2', '32°54′35″N 96°37′49″W / 32.9098°N 96.6303°W / 32.9098; -96.6303 (Garland)']
['94', 'Irving', 'Texas', '242,242', '216,290', '+12.00%', '67.0sqmi', '173.5km2', '3,557/sqmi', '1,373/km2', '32°51′28″N 96°58′12″W / 32.8577°N 96.9700°W / 32.8577; -96.9700 (Irving)']
['95', 'Hialeah', 'Florida', '238,942', '224,669', '+6.35%', '21.5sqmi', '55.7km2', '10,995/sqmi', '4,245/km2', '25°52′12″N 80°18′10″W / 25.8699°N 80.3029°W / 25.8699; -80.3029 (Hialeah)']
['96', 'Fremont', 'California', '237,807', '214,089', '+11.08%', '77.5sqmi', '200.7km2', '3,008/sqmi', '1,161/km2', '37°29′40″N 121°56′28″W / 37.4945°N 121.9412°W / 37.4945; -121.9412 (Fremont)']
['97', 'Boise[r]', 'Idaho', '228,790', '205,671', '+11.24%', '82.1sqmi', '212.6km2', '2,718/sqmi', '1,049/km2', '43°36′01″N 116°13′54″W / 43.6002°N 116.2317°W / 43.6002; -116.2317 (Boise)']
['98', 'Richmond[m]', 'Virginia', '228,783', '204,214', '+12.03%', '59.8sqmi', '154.9km2', '3,732/sqmi', '1,441/km2', '37°31′53″N 77°28′34″W / 37.5314°N 77.4760°W / 37.5314; -77.4760 (Richmond)']
['99', 'Baton Rouge[s]', 'Louisiana', '221,599', '229,493', '−3.44%', '85.9sqmi', '222.5km2', '2,651/sqmi', '1,024/km2', '30°26′32″N 91°07′51″W / 30.4422°N 91.1309°W / 30.4422; -91.1309 (Baton Rouge)']
['100', 'Spokane', 'Washington', '219,190', '208,916', '+4.92%', '68.7sqmi', '177.9km2', '3,144/sqmi', '1,214/km2', '47°40′01″N 117°26′00″W / 47.6669°N 117.4333°W / 47.6669; -117.4333 (Spokane)']
['101', 'Des Moines', 'Iowa', '216,853', '203,433', '+6.60%', '88.9sqmi', '230.2km2', '2,424/sqmi', '936/km2', '41°34′21″N 93°36′37″W / 41.5726°N 93.6102°W / 41.5726; -93.6102 (Des Moines)']

In [86]:
# Defining a function to get data from individual city pages. Here we are extacting only name of 'Mayor' for each city.

def getAdditionalDetails(url):
    try:
        city_page = getHTML('https://en.wikipedia.org' + url) 
        table = city_page.find('table', {'class': 'infobox geography vcard'})
        additional_details = []
        read_content = False
        for tr in table.find_all('tr'):
            if (tr.get('class') == ['mergedtoprow'] and not read_content):
                link = tr.find('th')
                if (link and (link.get_text().strip() == 'Government')):
                    read_content = True
                    
            if ((tr.get('class') == ['mergedrow']) and read_content):               
                if (tr.find('th').get_text().strip() == '•\xa0Mayor'):
                        additional_details.append(tr.find('td').get_text().strip('\n')) 
                                   
        return additional_details
    except Exception as error:
        print('Error occured: {}'.format(error))
        return []

In [108]:
data_final = []
for i in range(1, len(rows)):
    tds = rows[i].find_all('td')    
    if len(tds) != 0:
        city_link = tds[1].find('a')
        city_info = [td.text.replace('\n', '').replace('\xa0', '').replace('\ufeff', '') for td in tds]
        city_details = getAdditionalDetails(city_link.get('href'))
        city_info += city_details
        data_final.append(city_info)
        
df = pd.DataFrame(data_final)

KeyboardInterrupt:

In [109]:
# Define column headings

headers = rows[0].find_all('th')
headers = [header.get_text().strip('\n') for header in headers]
headers += ['Mayor']
headers.insert(7,'2016 Land Area(km2)')
headers.insert(9,'2016 Population Density(km2)')
#print(headers)
df.columns = headers
df.rename(columns={'State[c]': 'State'}, inplace = True)
df.rename(columns={'2016 land area': '2016 Land area(sqmi)'}, inplace = True)
df.rename(columns={'2016 population density': '2016 Population Density(sqmi)'}, inplace = True)
#print(df)

In [110]:
for column in df.columns:
    df[column] = df[column].str.replace(r"\(.*\)", "")
    df[column] = df[column].str.replace(r"\[.*\]", "")
    df['Change'] = df['Change'].str.strip('%')
    df['2016 Land area(sqmi)'] = df['2016 Land area(sqmi)'].str.strip("/sqmi")
    df['2016 Land Area(km2)'] = df['2016 Land Area(km2)'].str.strip("/km")
    df['2016 Population Density(sqmi)'] = df['2016 Population Density(sqmi)'].str.strip("/sqmi")
    df['2016 Population Density(km2)'] = df['2016 Population Density(km2)'].str.strip("/km")
    
#The above print statement will display give the final dataset.    
    print(df)
    
df.to_csv("Final_Dataset.csv", index = False)

    2018rank              City                 State 2018estimate 2010Census  \
0          1     New York City              New York    8,398,748  8,175,133
1          2       Los Angeles            California    3,990,456  3,792,621
2          3           Chicago              Illinois    2,705,994  2,695,598
3          4           Houston                 Texas    2,325,502  2,100,263
4          5           Phoenix               Arizona    1,660,272  1,445,632
5          6      Philadelphia          Pennsylvania    1,584,138  1,526,006
6          7       San Antonio                 Texas    1,532,233  1,327,407
7          8         San Diego            California    1,425,976  1,307,402
8          9            Dallas                 Texas    1,345,047  1,197,816
9         10          San Jose            California    1,030,119    945,942
10        11            Austin                 Texas      964,254    790,390
11        12      Jacksonville               Florida      903,889    821,784
12        13        Fort Worth                 Texas      895,008    741,206
13        14          Columbus                  Ohio      892,533    787,033
14        15     San Francisco            California      883,305    805,235
15        16         Charlotte        North Carolina      872,498    731,424
16        17      Indianapolis               Indiana      867,125    820,445
17        18           Seattle            Washington      744,955    608,660
18        19            Denver              Colorado      716,492    600,158
19        20  Washington, D.C.  District of Columbia      702,455    601,723
20        21            Boston         Massachusetts      694,583    617,594
21        22           El Paso                 Texas      682,669    649,121
22        23           Detroit              Michigan      672,662    713,777
23        24         Nashville             Tennessee      669,053    601,222
24        25          Portland                Oregon      653,115    583,776
25        26           Memphis             Tennessee      650,618    646,889
26        27     Oklahoma City              Oklahoma      649,021    579,999
27        28         Las Vegas                Nevada      644,644    583,756
28        29        Louisville              Kentucky      620,118    597,337
29        30         Baltimore              Maryland      602,495    620,961
..       ...               ...                   ...          ...        ...
284      285           Greeley              Colorado      107,348     92,889
285      286         Daly City            California      107,008    101,123
286      287          Meridian                 Idaho      106,804     75,092
287      288        Lewisville                 Texas      106,586     95,290
288      289             Davie               Florida      106,558     91,992
289      290       West Covina            California      106,311    106,098
290      291       League City                 Texas      106,244     83,560
291      292             Tyler                 Texas      105,729     96,900
292      293           Norwalk            California      105,120    105,549
293      294         San Mateo            California      105,025     97,207
294      295         Green Bay             Wisconsin      104,879    104,057
295      296     Wichita Falls                 Texas      104,576    104,553
296      297            Sparks                Nevada      104,246     90,264
297      298          Lakewood            New Jersey      104,157     92,843
298      299           Burbank            California      103,695    103,340
299      300            Rialto            California      103,440     99,171
300      301             Allen                 Texas      103,383     84,246
301      302          El Cajon            California      103,241     99,478
302      303        Las Cruces            New Mexico      102,926     97,618
303      304            Renton            Washington      102,153     90,927
304      305         Davenport                  Iowa      102,085     99,685
305      306        South Bend               Indiana      101,860    101,168
306      307             Vista            California      101,224     93,834
307      308        Tuscaloosa               Alabama      101,113     90,468
308      309           Clinton              Michigan      100,800     96,796
309      310            Edison            New Jersey      100,693     99,967
310      311        Woodbridge            New Jersey      100,450     99,585
311      312        San Angelo                 Texas      100,215     93,200
312      313           Kenosha             Wisconsin      100,164     99,218
313      314         Vacaville            California      100,154     92,428

     Change 2016 Land area(sqmi) 2016 Land Area(km2)  \
0     +2.74                301.5               780.9
1     +5.22                468.7             1,213.9
2     +0.39                227.3               588.7
3    +10.72                637.5             1,651.1
4    +14.85                517.6             1,340.6
5     +3.81                134.2               347.6
6    +15.43                461.0             1,194.0
7     +9.07                325.2               842.3
8    +12.29                340.9               882.9
9     +8.90                177.5               459.7
10   +22.00                312.7               809.9
11    +9.99                747.4             1,935.8
12   +20.75                342.9               888.1
13   +13.40                218.5               565.9
14    +9.70                 46.9               121.5
15   +19.29                305.4               791.0
16    +5.69                361.5               936.3
17   +22.39                 83.8                17.0
18   +19.38                153.3               397.0
19   +16.74                 61.1                158.
20   +12.47                 48.3               125.1
21    +5.17                256.8               665.1
22    −5.76                138.8               359.5
23   +11.28                475.9             1,232.6
24   +11.88                133.5               345.8
25    +0.58                317.4               822.1
26   +11.90                606.3             1,570.3
27   +10.43                134.4               348.1
28    +3.81                263.5               682.5
29    −2.97                 80.9                09.5
..      ...                  ...                 ...
284  +15.57                 47.8               123.8
285   +5.82                  7.6                19.7
286  +42.23                 29.8                 77.
287  +11.85                 36.7                95.1
288  +15.83                 34.9                90.4
289   +0.20                 16.0                41.4
290  +27.15                 51.2               132.6
291   +9.11                 56.6               146.6
292   −0.41                  9.7                 5.1
293   +8.04                 12.1                31.3
294   +0.79                 45.4               117.6
295   +0.02                 72.2               187.0
296  +15.49                 35.9                93.0
297  +12.19                 24.7                64.0
298   +0.34                 17.4                45.1
299   +4.30                 22.3                57.8
300  +22.72                 27.1                 70.
301   +3.78                 14.5                37.6
302   +5.44                 76.9                199.
303  +12.35                 23.4                60.6
304   +2.41                 62.9               162.9
305   +0.68                 41.4                107.
306   +7.88                 18.7                48.4
307  +11.77                 71.7               185.7
308   +4.14                 28.1                72.8
309   +0.73                 30.1                78.0
310   +0.87                 23.3                60.3
311   +7.53                 59.9               155.1
312   +0.95                 28.0                72.5
313   +8.36                 29.0                75.1

    2016 Population Density(sqmi) 2016 Population Density(km2)  \
0                          28,317                       10,933
1                           8,484                        3,276
2                          11,900                        4,600
3                           3,613                        1,395
4                           3,120                        1,200
5                          11,683                        4,511
6                           3,238                        1,250
7                           4,325                        1,670
8                           3,866                        1,493
9                           5,777                         ,231
10                          3,031                        1,170
11                          1,178                          455
12                          2,491                          962
13                          3,936                        1,520
14                         18,569                        7,170
15                          2,757                        1,064
16                          2,366                          914
17                          8,405                        3,245
18                          4,521                        1,746
19                         11,148                        4,304
20                         13,938                        5,381
21                          2,660                        1,030
22                          4,847                        1,871
23                          1,388                          536
24                          4,793                        1,851
25                          2,056                          794
26                          1,053                          407
27                          4,709                        1,818
28                          2,339                          903
29                          7,598                         ,934
..                            ...                          ...
284                         2,176                          840
285                        14,009                        5,409
286                         3,584                        1,384
287                         2,852                        1,101
288                         2,919                        1,127
289                         6,740                         ,600
290                         1,992                          769
291                         1,852                          715
292                        10,946                        4,226
293                         8,592                        3,317
294                         2,316                          894
295                         1,450                          560
296                         2,810                        1,080
297                         4,079                        1,575
298                         6,003                         ,318
299                         4,633                        1,789
300                         3,715                        1,434
301                         7,156                         ,763
302                         1,323                          511
303                         4,314                        1,666
304                         1,631                          630
305                         2,457                          949
306                         5,436                         ,099
307                         1,399                          540
308                         3,573                        1,380
309                         3,389                        1,309
310                         4,351                        1,680
311                         1,681                          649
312                         3,577                        1,381
313                         3,449                        1,332

                                              Location  \
0    40°39′49″N 73°56′19″W / 40.6635°N 73.9387°W / ...
1    34°01′10″N 118°24′39″W / 34.0194°N 118.4108°W ...
2    41°50′15″N 87°40′54″W / 41.8376°N 87.6818°W / ...
3    29°47′12″N 95°23′27″W / 29.7866°N 95.3909°W / ...
4    33°34′20″N 112°05′24″W / 33.5722°N 112.0901°W ...
5    40°00′34″N 75°08′00″W / 40.0094°N 75.1333°W / ...
6    29°28′21″N 98°31′30″W / 29.4724°N 98.5251°W / ...
7    32°48′55″N 117°08′06″W / 32.8153°N 117.1350°W ...
8    32°47′36″N 96°45′59″W / 32.7933°N 96.7665°W / ...
9    37°17′48″N 121°49′08″W / 37.2967°N 121.8189°W ...
10   30°18′14″N 97°45′16″W / 30.3039°N 97.7544°W / ...
11   30°20′13″N 81°39′42″W / 30.3369°N 81.6616°W / ...
12   32°46′53″N 97°20′48″W / 32.7815°N 97.3467°W / ...
13   39°59′07″N 82°59′05″W / 39.9852°N 82.9848°W / ...
14   37°43′38″N 123°01′56″W / 37.7272°N 123.0322°W ...
15   35°12′28″N 80°49′52″W / 35.2078°N 80.8310°W / ...
16   39°46′36″N 86°08′45″W / 39.7767°N 86.1459°W / ...
17   47°37′14″N 122°21′03″W / 47.6205°N 122.3509°W ...
18   39°45′43″N 104°52′52″W / 39.7619°N 104.8811°W ...
19   38°54′15″N 77°01′02″W / 38.9041°N 77.0172°W / ...
20   42°19′55″N 71°01′13″W / 42.3320°N 71.0202°W / ...
21   31°50′54″N 106°25′37″W / 31.8484°N 106.4270°W ...
22   42°22′59″N 83°06′08″W / 42.3830°N 83.1022°W / ...
23   36°10′18″N 86°47′06″W / 36.1718°N 86.7850°W / ...
24   45°32′13″N 122°39′00″W / 45.5370°N 122.6500°W ...
25   35°06′10″N 89°58′39″W / 35.1028°N 89.9774°W / ...
26   35°28′02″N 97°30′49″W / 35.4671°N 97.5137°W / ...
27   36°13′45″N 115°15′36″W / 36.2292°N 115.2601°W ...
28   38°09′55″N 85°38′51″W / 38.1654°N 85.6474°W / ...
29   39°18′00″N 76°36′38″W / 39.3000°N 76.6105°W / ...
..                                                 ...
284  40°24′55″N 104°46′11″W / 40.4153°N 104.7697°W ...
285  37°42′03″N 122°27′54″W / 37.7009°N 122.4650°W ...
286  43°36′51″N 116°23′56″W / 43.6142°N 116.3989°W ...
287  33°02′48″N 96°58′54″W / 33.0466°N 96.9818°W / ...
288  26°04′45″N 80°17′06″W / 26.0791°N 80.2850°W / ...
289  34°03′21″N 117°54′36″W / 34.0559°N 117.9099°W ...
290  29°29′24″N 95°06′33″W / 29.4901°N 95.1091°W / ...
291  32°19′02″N 95°18′21″W / 32.3173°N 95.3059°W / ...
292  33°54′27″N 118°05′01″W / 33.9076°N 118.0835°W ...
293  37°33′37″N 122°18′38″W / 37.5603°N 122.3106°W ...
294  44°31′15″N 87°59′03″W / 44.5207°N 87.9842°W / ...
295  33°54′24″N 98°31′33″W / 33.9067°N 98.5259°W / ...
296  39°33′16″N 119°44′08″W / 39.5544°N 119.7356°W ...
297  40°04′38″N 74°12′01″W / 40.0771°N 74.2004°W / ...
298  34°11′24″N 118°19′35″W / 34.1901°N 118.3264°W ...
299  34°06′42″N 117°23′18″W / 34.1118°N 117.3883°W ...
300  33°05′59″N 96°39′47″W / 33.0997°N 96.6631°W / ...
301  32°48′06″N 116°57′37″W / 32.8017°N 116.9604°W ...
302  32°19′35″N 106°47′23″W / 32.3264°N 106.7897°W ...
303  47°28′34″N 122°11′31″W / 47.4761°N 122.1920°W ...
304  41°33′15″N 90°36′14″W / 41.5541°N 90.6040°W / ...
305  41°40′37″N 86°16′08″W / 41.6769°N 86.2690°W / ...
306  33°11′22″N 117°14′19″W / 33.1895°N 117.2386°W ...
307  33°12′23″N 87°32′05″W / 33.2065°N 87.5346°W / ...
308  42°35′25″N 82°55′01″W / 42.5903°N 82.9170°W / ...
309  40°30′14″N 74°20′58″W / 40.5040°N 74.3494°W / ...
310  40°33′39″N 74°17′34″W / 40.5607°N 74.2927°W / ...
311  31°26′28″N 100°27′02″W / 31.4411°N 100.4505°W ...
312  42°34′56″N 87°50′44″W / 42.5822°N 87.8456°W / ...
313  38°21′14″N 121°58′22″W / 38.3539°N 121.9728°W ...

                       Mayor
0                       None
1             Eric Garcetti
2            Lori Lightfoot
3          Sylvester Turner
4               Kate Gallego
5                Jim Kenney
6             Ron Nirenberg
7           Kevin Faulconer
8             Mike Rawlings
9              Sam Liccardo
10              Steve Adler
11              Lenny Curry
12              Betsy Price
13        Andrew J. Ginther
14             London Breed
15                 Vi Lyles
16              Joe Hogsett
17             Jenny Durkan
18          Michael Hancock
19            Muriel Bowser
20              Marty Walsh
21                      None
22              Mike Duggan
23             David Briley
24              Ted Wheeler
25           Jim Strickland
26               David Holt
27          Carolyn Goodman
28             Greg Fischer
29               Jack Young
..                       ...
284              John Gates
285  Raymond A. Buenaventura
286           Tammy de Weerd
287                     None
288               Judy Paul
289            Lloyd Johnson
290             Pat Hallisey
291           Martin Heines
292                     None
293              Diane Papan
294             Eric Genrich
295      Stephen Santellana
296               Ron Smith
297                     None
298        Emily Gabel-Luddy
299                     None
300                     None
301               Bill Wells
302          Ken Miyagishima
303                Denis Law
304           Frank Klipsch
305          Pete Buttigieg
306              Judy Ritter
307           Walter Maddox
308                     None
309                     None
310                     None
311                     None
312          John Antaramian
313              Ron Rowlett

[314 rows x 12 columns]
    2018rank              City                 State 2018estimate 2010Census  \
0          1     New York City              New York    8,398,748  8,175,133
1          2       Los Angeles            California    3,990,456  3,792,621
2          3           Chicago              Illinois    2,705,994  2,695,598
3          4           Houston                 Texas    2,325,502  2,100,263
4          5           Phoenix               Arizona    1,660,272  1,445,632
5          6      Philadelphia          Pennsylvania    1,584,138  1,526,006
6          7       San Antonio                 Texas    1,532,233  1,327,407
7          8         San Diego            California    1,425,976  1,307,402
8          9            Dallas                 Texas    1,345,047  1,197,816
9         10          San Jose            California    1,030,119    945,942
10        11            Austin                 Texas      964,254    790,390
11        12      Jacksonville               Florida      903,889    821,784
12        13        Fort Worth                 Texas      895,008    741,206
13        14          Columbus                  Ohio      892,533    787,033
14        15     San Francisco            California      883,305    805,235
15        16         Charlotte        North Carolina      872,498    731,424
16        17      Indianapolis               Indiana      867,125    820,445
17        18           Seattle            Washington      744,955    608,660
18        19            Denver              Colorado      716,492    600,158
19        20  Washington, D.C.  District of Columbia      702,455    601,723
20        21            Boston         Massachusetts      694,583    617,594
21        22           El Paso                 Texas      682,669    649,121
22        23           Detroit              Michigan      672,662    713,777
23        24         Nashville             Tennessee      669,053    601,222
24        25          Portland                Oregon      653,115    583,776
25        26           Memphis             Tennessee      650,618    646,889
26        27     Oklahoma City              Oklahoma      649,021    579,999
27        28         Las Vegas                Nevada      644,644    583,756
28        29        Louisville              Kentucky      620,118    597,337
29        30         Baltimore              Maryland      602,495    620,961
..       ...               ...                   ...          ...        ...
284      285           Greeley              Colorado      107,348     92,889
285      286         Daly City            California      107,008    101,123
286      287          Meridian                 Idaho      106,804     75,092
287      288        Lewisville                 Texas      106,586     95,290